.Navbar {
  $block: &;

  padding: 5px;
  text-align: center;

  &-Menu {
    padding: 0;
  }

  &-MenuItem {
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: ease-in-out 0.3s;

    &:hover {
      border-bottom: 1px solid lightgreen;
    }
  }

  // Theme

  &.LightTheme {
    background: #ddd;
    color: #555;

    #{$block}-MenuItem {
      &:hover {
        border-bottom: 1px solid green;
      }
    }
  }

  &.DarkTheme {
    background: #555;
    color: #ddd;
  }

}